@media(max-width: 576px) {

    .bannerPrincipalMQ{
        background-image: url("../img/ofertaBanner3.jpg");
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
        height: 100vh;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    }
    .textoSection1, .section4Text{
        color: aliceblue;
        font-size: 32px;
    }
    .textoSection2, .section4Text1{
        font-size: 16px;
    }

    .products{
        display: flex;
        justify-content: center;
    }
    
}


@media (max-width: 576px){

    /* -----------FOOTER---------- */

    .footer {
        margin-top: 50%;
        font-size: 12px;
        height: 250px;
    
    }
    
    .socialRed {
        padding-left: 40%;
    }
    
    .Copywriting,
    .contactFooter {
        padding-left: 25%;
    }
}