
@media(max-width: 576px) {

    .textoSection1{
        font-size: 40px;
    }
    .textoSection2{
        font-size: 14px;
    }

    .section4Text1{
        font-size: 30px;
    }

    .section4Text2{
        font-size: 16px;
    }

    .bannerPrincipal {
        height: 2700px;
        background-image: url("../img/backgroung.jpg");
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0, 100% 0, 36% 100%, 0% 100%);
    }

    .face{
        padding: 2px;
        width: 80px
    }

    .bannerPrincipal2{
        height: 1650px;
    }
    
}




@media (max-width: 576px){

    /* -----------FOOTER---------- */

    .footer {
        font-size: 12px;
        height: 250px;
    
    }
    
    .socialRed {
        padding-left: 40%;
    }
    
    .Copywriting,
    .contactFooter {
        padding-left: 25%;
    }
}