/* PRINCIPAL */

.bannerPrincipal{
    height: 2100px;
    background-image: url("../img/mujerBANNER1.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 36% 100%, 0% 100%);
    background-attachment: fixed;
}
.bannerPrincipal2 {
    height: 1350px;
    background-image: url("../img/mujerBANNER2.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 48% 100%);
    background-attachment: fixed;
}
.general{
    background-color: #272424;
}

.logo{
    transition: transform .2s;
    padding-top: 30%;
    cursor: pointer;
}

.logo:hover {
    filter: drop-shadow(1px 1px 3px #000000);
    transform: scale(1.2);
}



/* BARRA DE NAVEGACION */



/* ----------MENU----------- */

.custom-toggler .navbar-toggler-icon {
    text-align: center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 251, 251, 5)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Stroke rgba es para cambiar color
stroke_width=3 es para cambiar el tamaño */

.custom-toggler .navbar-toggler-icon:hover {
    text-align: center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,154,121)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*********************  ENCABEZADO BANNER WEB INICIAL ******************************/

.navColor{
    
    color: #ffffff;
}
.navbar {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Darker Grotesque', sans-serif;
    transition: background-color 0.5s;
}

.optmenu {
    justify-content: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1rem;
    transition: all 1s solid;
}

.optmenu:hover {
    color: #C2C66E;
    transition: all 1s solid;
}

.optmenu:active {
    color: #FF9A79;
}

/* BOTON VERDE */
.botonVerde{
    height: 55px;
    color: #fff;
    
    padding-left: 38px;
    padding-right: 38px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 25px;
    z-index: 0;
    background: #272424;
    overflow: hidden;
    border: 2px solid #FF9A79;
    
}
.botonVerde:hover{
    color: #272424;
}

.botonVerde:hover:after {
    height: 100%;
}

.botonVerde:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #FF9A79;
}


.section1 {
    margin: 10%;
}


.textoSection1 {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    color: #FF9A79;

}

.textoSection2 {
    font-size: 20px;
    font-family: 'Darker Grotesque', sans-serif;
    color: #ffffff;
    padding: 80px;
}


.product1{
    color: #ffffff;
}

.textProduct{
    padding-bottom: 5px;
}

.section4{
    padding-top: 100px;
    padding-left: 100px;
}

.section4Text1{
    padding-top: 100px;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    color: #FF9A79;
}
.section4Text2{
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Darker Grotesque', sans-serif;
    color: #ffffff;
}

.redesSociales{
    padding-top: 100px;
}
.face:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    color: #C2C66E;
}

.footer{
    background-color: #C2C66E;
    height: 150px;

}
.socialRed{
    padding-top:8%;
}
.Copywriting{
    padding-top: 8%;
}
.contactFooter{
    padding-left: 10%;
    padding-top: 2%;
}